@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

h1{
  font-size: clamp(1rem,calc(1vw + 1rem),3rem);
}

h2{
  font-size: clamp(1rem,calc(1vw + 1rem),4rem);
}

h3{
  font-size: clamp(1rem,calc(1vw + 1rem),1rem);
}

h4{
  font-size: clamp(1rem,calc(1vw + 1rem),1.2rem);
}

:root {
  --background: #f5f5f5;
  --foreground: #1a1a1a;
  --card: #faf7f5;
  --card-foreground: #1a1a1a;
  --popover: #faf7f5;
  --popover-foreground: #1a1a1a;
  --primary: #20532a;
  --primary-foreground: #ffffff;
  --secondary: #1b8742;
  --secondary-foreground: #f5f5f5;
  --muted: #f0ebe8;
  --muted-foreground: #57534e;
  --accent: #7cc472;
  --accent-foreground: #ffffff;
  --destructive: #ea4848;
  --destructive-foreground: #ffffff;
  --border: #dee2e6;
  --input: #ffffff;
  --ring: #bee2b9;
  --chart-1: #7cc472;
  --chart-2: #0f703a;
  --chart-3: #2eaf4a;
  --chart-4: #1b8742;
  --chart-5: #bee2b9;
  --sidebar: #f8f9fa;
  --sidebar-foreground: #1a1a1a;
  --sidebar-primary: #1b8742;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #bee2b9;
  --sidebar-accent-foreground: #20532a;
  --sidebar-border: #dee2e6;
  --sidebar-ring: #1b8742;
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Coustard, ui-serif, serif;
  --font-mono: Space Mono, ui-monospace, monospace;
  --radius: 0.325rem;
  --shadow-x: 2.5px;
  --shadow-y: 5px;
  --shadow-blur: 12px;
  --shadow-spread: -11.5px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 63% 18%);
  --shadow-2xs: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.09);
  --shadow-xs: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.09);
  --shadow-sm: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.18), 2.5px 1px 2px -12.5px hsl(0 63% 18% / 0.18);
  --shadow: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.18), 2.5px 1px 2px -12.5px hsl(0 63% 18% / 0.18);
  --shadow-md: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.18), 2.5px 2px 4px -12.5px hsl(0 63% 18% / 0.18);
  --shadow-lg: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.18), 2.5px 4px 6px -12.5px hsl(0 63% 18% / 0.18);
  --shadow-xl: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.18), 2.5px 8px 10px -12.5px hsl(0 63% 18% / 0.18);
  --shadow-2xl: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.45);
  --tracking-normal: 0em;
  /* largura itens: sidebar */
  --spacing: 0.2rem; 
}

.dark {
  --background: #1c1917;
  --foreground: #f5f5f4;
  --card: #292524;
  --card-foreground: #f5f5f4;
  --popover: #292524;
  --popover-foreground: #f5f5f4;
  --primary: #0f703a;
  --primary-foreground: #f5f5f5;
  --secondary: #279d49;
  --secondary-foreground: #ededed;
  --muted: #1f1c1a;
  --muted-foreground: #d6d3d1;
  --accent: #7cc472;
  --accent-foreground: #ededed;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #44403c;
  --input: #44403c;
  --ring: #7cc472;
  --chart-1: #20532a;
  --chart-2: #7cc472;
  --chart-3: #0f703a;
  --chart-4: #bee2b9;
  --chart-5: #2eaf4a;
  --sidebar: #1c1917;
  --sidebar-foreground: #f5f5f5;
  --sidebar-primary: #0f703a;
  --sidebar-primary-foreground: #f5f5f5;
  --sidebar-accent: #7cc472;
  --sidebar-accent-foreground: #f5f5f5;
  --sidebar-border: #44403c;
  --sidebar-ring: #20532a;
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Coustard, ui-serif, serif;
  --font-mono: Space Mono, ui-monospace, monospace;
  --radius: 0.325rem;
  --shadow-x: 2.5px;
  --shadow-y: 5px;
  --shadow-blur: 12px;
  --shadow-spread: -11.5px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 63% 18%);
  --shadow-2xs: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.09);
  --shadow-xs: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.09);
  --shadow-sm: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.18), 2.5px 1px 2px -12.5px hsl(0 63% 18% / 0.18);
  --shadow: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.18), 2.5px 1px 2px -12.5px hsl(0 63% 18% / 0.18);
  --shadow-md: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.18), 2.5px 2px 4px -12.5px hsl(0 63% 18% / 0.18);
  --shadow-lg: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.18), 2.5px 4px 6px -12.5px hsl(0 63% 18% / 0.18);
  --shadow-xl: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.18), 2.5px 8px 10px -12.5px hsl(0 63% 18% / 0.18);
  --shadow-2xl: 2.5px 5px 12px -11.5px hsl(0 63% 18% / 0.45);
}

@theme inline {
  --color-footer: #343a40;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

::-moz-selection {
  color: var(--primary);
  background: var(--accent);
}


::selection {
  color: var(--primary);
  background: var(--accent);
}

body {
  scroll-behavior: smooth;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

body {
  scroll-behavior: smooth;
}

#hero {
  background: url('/industria-quimica.png') no-repeat center center/cover;
}

.card-side{
  border-radius: 3.18mm;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 0.7s ease-out;
  cursor: pointer;
  padding: 10px;
}

.card-frente{
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, #242424 100%);
  transform: rotateY(0deg);
}

.card-fundo{
  transform: rotateY(-180deg);
  color:  #ffff;
  backface-visibility: hidden;
}

.product-sector-card:hover .card-frente{
  transform: rotateY(180deg);
}

.product-sector-card:hover .card-fundo {
  transform: rotateY(0deg);
}
.product-sector-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  height: 100%;
}

.fundo-sobre{
  background: url('/fundo-sobre.png') no-repeat center center/cover;
}

.card-limpeza{
  background: url('/saneamento.png') no-repeat center center/cover;
}
.card-farmacia{
  background: url('/farmaceutica.png') no-repeat center center/cover;
}
.card-industria{
  background: url('/industria-transformacao.png') no-repeat center center/cover;
}
.card-agro{
  background: url('/agroindustria.png') no-repeat center center/cover;
}

.product-sector-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-sector-card{
  height: 20rem;
  width: 15rem;
  position: relative;
  perspective: 800px;
}

.product-sector-card .card-title {
  font-weight: 600;
  color: #343a40;
  font-size: 1.3rem;
  position: relative;
  perspective: 800px;
}

.animate-molecule-float {
  animation: molecule-float 3s ease-in-out infinite;
}

.animate-pulse-ring {
  animation: pulse-ring 2s ease-in-out infinite;
}

.animate-liquid-flow {
  animation: liquid-flow 2s linear infinite;
}
