body {
  scroll-behavior: smooth;
}

#hero {
  background: url('/industria-quimica.png') no-repeat center center/cover;
}

.card-side{
  border-radius: 3.18mm;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 0.7s ease-out;
  cursor: pointer;
  padding: 10px;
}

.card-frente{
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, #242424 100%);
  transform: rotateY(0deg);
}

.card-fundo{
  transform: rotateY(-180deg);
  color:  #ffff;
  backface-visibility: hidden;
}

.product-sector-card:hover .card-frente{
  transform: rotateY(180deg);
}

.product-sector-card:hover .card-fundo {
  transform: rotateY(0deg);
}
.product-sector-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  height: 100%;
}

.fundo-sobre{
  background: url('/fundo-sobre.png') no-repeat center center/cover;
}

.card-limpeza{
  background: url('/saneamento.png') no-repeat center center/cover;
}
.card-farmacia{
  background: url('/farmaceutica.png') no-repeat center center/cover;
}
.card-industria{
  background: url('/industria-transformacao.png') no-repeat center center/cover;
}
.card-agro{
  background: url('/agroindustria.png') no-repeat center center/cover;
}

.product-sector-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-sector-card{
  height: 20rem;
  width: 15rem;
  position: relative;
  perspective: 800px;
}

.product-sector-card .card-title {
  font-weight: 600;
  color: #343a40;
  font-size: 1.3rem;
  position: relative;
  perspective: 800px;
}


